* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
:root {
  --light-bgc: pink;
  --dark-bgc: purple;
  --text-light: #000;
  --text-dark: #fff;
}

.light-theme {
  --text-color: var(--text-light);
  --bgc-color: var(--light-bgc);
}

.dark-theme {
  --text-color: var(--text-dark);
  --bgc-color: var(--dark-bgc);
}
.messagebox {
  position: fixed;
  top: 0;left: 0;
  background-color: var(--bgc-color);
  color: var(--text-color);
}